div{
    height: 200px;
}

div{
    width: 500px;
}

div {
    border: 5px solid lightblue;
}

h1{
    border: 5px dotted goldenrod;
}

button {
    border-left: solid blue;
    border-right: double black;
    border-top: dotted pink;
    border-bottom: outset purple;
}