div{
    height: 200px;
}

div{
    width: 500px;
}

div {
    border: 5px solid lightblue;
}

div{
    padding-top: 10px;
    margin: 10px;
}

h1{
    border: 5px dotted goldenrod;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}